.jumbotron {
    background-color: olivedrab;
    text-align: center;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body {
    background-color: burlywood;
}
#btns {
    padding: 10px;
}


